<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <title>Mi Portafolio Abigail Roque Miranda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <!-- Header -->
    <header>
        <nav id="header-item">
            <ul id="ul-item">
                <li id="li-item"><a id="a-item" href="#acerca-de">Acerca de</a></li>
                <li id="li-item"><a id="a-item" href="#experiencia">Experiencia</a></li>
                <li id="li-item"><a id="a-item" href="#proyectos">Proyectos</a></li>
            </ul>
        </nav>
    </header>

    <main id="hero">

        <div class="capa"></div>
        <div class="contenido">
            <img src="tecnosocial/abi.jpg">
            <h1> Abigail Roque Miranda </h1>
            <h2>Web developer junior</h2>
            <p>Desarrollando experiencias tecnosociales</p>

        </div>
    </main>

    <!-- Sección 1-->
    <section id="acerca-de">
        <h2>Acerca de mí</h2>
        <p>¡Bienvenido a mi portafolio! Soy Abigail, una desarrolladora web junior apasionada por la tecnología, lo
            urbano y las ciencias sociales.</p>
        <p>Me interesa contribuir en el desarrollo de tecnologías sociales para el bien común y la construcción de
            ciudades inteligentes, a través de la acción, innovación y colaboración.</p>

        <p>En relación a mí formación acádemica, cuento con: <br> Un Técnico Superior en Cartografía, SIG y Catastro y
            una Licenciatura en Planificación del Territorio y Medio Ambiente en la Universidad Mayor de San Simón.
            <br> Y un Diplomado en Docencia para la Educación Superior basada en Competencias <br> Escuela Universitaria
            de Posgrado y Gestión.
        </p>

        <p>Algunas experiencias en técnología aplicada a mí área son:</p>

        <div class="container">

            <div class="rightbox">
                <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                2018<br>
                            </div>
                            <div class="item-title">Diplomado <br> Escuela </div>

                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                2017<br>
                            </div>
                            <div class="item-title">Licenciatura <br>
                                Universidad </div>

                        </li>

                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                2014<br>
                            </div>
                            <div class="item-title">Técnico <br> Universidad </div>

                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <!-- Sección 2-->
    <section id="codigo">
        <h3>programando <...> colaborando {...} innovando (...)</h3>
        <div id="cat">
            <img src="tecnosocial/cat.png"></a>

    </section>
    <!-- Sección 3-->

    <section id="experiencia">
        <h2>Experiencia en programación</h2>

        <p>Entusiasmada por sumergirme en la programación, mis primeras experiencias en este viaje son: </p>

        <div class="container">

            <div class="rightbox">
                <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                2023<br>
                            </div>
                            <div class="item-title">Inmigrando a Bolivia</div>

                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                2023<br>
                            </div>
                            <div class="item-title">Práctica 1: Introducción HTML y CSS</div>

                        </li>

                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">
                                2023<br>
                            </div>
                            <div class="item-title">Introducción a Java Script</div>

                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </section>

    <!-- Sección 4-->

    <section id="codigo">
        <p>Lenguajes de programación que estoy aprendiendo:</p>

        <div id="lenguaje"">
            <img src=" tecnosocial/html.png"></a>
            <img src="tecnosocial/css.png"></a>
            <img src="tecnosocial/js.png"></a>
        </div>
    </section>


    <!-- Sección 5-->
    <section id="proyectos">
        <h2>Proyectos tecnosociales </h2>
        <p>Colaboro contribuyendo en la construcción de un mejor futuro urbano a través de la innovación y la
            tecnología: </p>

        <br>
        <br>

        <div class="image-grid">
            <a href="https://bicidatos.org/"><img src="tecnosocial/1.png"></a>
            <a href="https://participabot.app/"><img src="tecnosocial/3.png"></a>
            <a href="https://labtecnosocial.org/"><img src="tecnosocial/4.png"></a>
            <a href="https://renaseh-odhva.org/"><img src="tecnosocial/2.png"></a>
        </div>

    </section>



    <!-- Footer-->
    <footer>
        <h1 id="textmov"> ¡Proyectos tecnosociales para el bien común!</h1>

        <br>
        <br>

        <ul>
            <li><a href="https://github.com/Abisan23/" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/abi-roque-m/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li><a href="https://twitter.com/QualiaRouge" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </footer>

</body>

</html>