/* Estilos generales */

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #50d890;
}

h2 {
    color: #50d890;
}


/* Estilo header */

#seccion {
    background-color: #0f172b;
}

#acerca-de {
    background-color: #0f172b;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#experiencia {
    background-color: #0f172b;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#proyectos {
    background-color: #0f172b;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Estilo tipo maquina de escribir primer separador*/

.main-home__level {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}


/* Estilo separador 1  */

#codigo {
    background-color: #50d890;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
}

#cat img {
    width: 150px;
    padding: 30px;
}

/* Estilo separador 2  */

#lenguaje-grid img {
    width: 100px;
    padding: 30px;
}

#lenguaje {
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline;
}



/* Header*/

header {
    background-color: #0f172b;
    color: #50d890;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

#header-item #ul-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-item #ul-item #li-item {
    display: inline;
    margin-right: 20px;
}

#header-item #ul-item #li-item a {
    text-decoration: none;
    color: #50d890;
    font-weight: bold;
}

/* Hero */
#hero {
    background-size: cover;
    text-align: center;
    color: #fff;
    min-height: 90vh;
    position: relative;
}

.contenido {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
}

.contenido img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline;
}


/* ---- Grafo ---- */

/* ---- reset ---- */

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0f172b;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #0f172b;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #50d890;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/* Timeline*/

.container {
    background: #0f172b;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10%;
}


.rightbox {

    height: 100%;
}

.rb-container {
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
}

ul.rb {
    width: 200px;
}

.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    border-left: 1px dashed #fff;
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 1);
    border-radius: 500%;
    background: #50d890;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #232931;
    transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
    color: #50d890;
    position: relative;
    width: 100px;
    font-size: 12px;
}

.item-title {
    color: #fff;
}


input::placeholder {
    padding: 5em 5em 1em 1em;
    color: #50d890;
}

a {
    color: #50d890;
    font-weight: bold;
    text-decoration: none
}


/* Proyectos */

/* Estilos para la grilla de imágenes redondas */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-items: center;
}

.image-grid a {
    display: block;
    /* Convierte el enlace en un bloque para que ocupe todo el espacio de la imagen */
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se salga del círculo */
}

.image-grid img {
    width: 100%;
    /* Ajusta el tamaño de la imagen para llenar el círculo */
    height: auto;
}


#textmov {
    background-color: #0f172b;
    text-align: center;
    color: #50d890;
    font-size: 30px;
}



/* Footer */
footer {
    background-color: #0f172b;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

/* Estilos para los iconos FontAwesome) */
footer ul li a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}


footer ul li a:hover {
    color: #50d890;
}


top-button {
    display: none;
}

/* Estilo para mostrar el botón cuando tiene la clase "active" */
.top-button.active {
    background-color: #50d890;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 900;
    color: #123154;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1;
}





@media (max-width: 915px) {

    body {
        background-color: #50d890;
    }

    header {
        font-size: small;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    #lenguaje img {
        width: 80px;
        padding: 20px;
    }

}

@media (min-width: 960px) {
    ul.rb {
        width: 500px;
    }
}